body {
  background: linear-gradient(#685f5f, #000000, #070708);
  font-family: "DynaPuff", cursive;
}
:root {
  --menu-speed: 0.75s;
}

.inner-highlights {
  text-align: center;
}

/* Navigation main */

.nav-links {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #10100f;
  padding: 15px;
}

nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  letter-spacing: 2px;
  color: rgb(237, 230, 230);
  font-size: 20px;
  font-family: "DynaPuff", cursive;
  transition: all 0.3s ease-out;
  display: block;
}
nav a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.current {
  font-weight: bold;
  transform: scale(1.2);
  text-transform: uppercase;
  color: green;
}

/*Logo and banners*/
.index-body {
  background-image: url("/images/vegetables-set-left-black-slate.jpg");
  background-size: 100%;
}
.banner-logo {
  color: black;
  position: absolute;
  left: 400px;
  top: 340px;
  font-size: 50px;
}
.logo {
  font-family: "DynaPuff", cursive;
  font-size: 40px;
  letter-spacing: 4px;
  text-align: center;
}
.logo a {
  text-decoration: none;
}

.logo-banner {
  background: url("/images/top-view-table-full-delicious-food-composition.jpg")
    center;
  background-size: 100% auto;
  height: 200px;
}
.recipe-banner {
  background: url("/images/plate-with-keto-diet-food-cherry-tomatoes-chicken-breast-eggs-carrot-salad-with-arugula-spinach-keto-lunch-top-view.jpg")
    center;
  background-size: 100% auto;
  height: 200px;
}
/*
text color
*/
h1,
p,
h2,
h3,
h4 {
  color: rgb(227, 228, 227);
}

/*Footer*/
footer {
  align-items: center;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
/*Details page*/
/*recipe card*/
.recipe-results {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.inner-result:hover {
  transform: scale(1.03);
  transition: all 0.5s ease;
}
.inner-result {
  max-width: 800px;
  width: 450px;
  height: 300px;

  text-decoration: none;
  display: inline-block;

  font-size: 1.05rem;
}
.image {
  width: 450px;
  height: 300px;
}
.recipe-logo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: px;
  letter-spacing: 4px;
  color: rgb(244, 238, 238);
  text-align: center;
  font-weight: bold;
}
/*details*/

.recipe-details {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  letter-spacing: 1px;
  color: rgb(206, 206, 231);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgba(24, 24, 24, 0.939);
}
.details-image {
  width: 100%;
}

/*loading*/
.loading {
  border: 10px solid black;
  border-top: 10px solid white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/*featured grid*/
.featured-result {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
/*Search*/

.search-container {
  max-width: 550px;
  align-items: center;
  margin: 0 auto;
  padding: 100px;
  border-radius: 20px;
  text-align: center;
  letter-spacing: 3px;
  background-image: url("/images/table-top-with-background.jpg");
  background-size: 100%;
  margin-top: 20px;
}
.recipe-input {
  padding: 20px;
  width: 200px;
  border-radius: 5px;
}
/*buttons*/
.start-btn {
  background-color: #47ff1e;
  color: #fff;
  text-decoration: none;
  padding: 12px 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  border-radius: 8px;
  font-size: 1.05rem;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  font-family: "DynaPuff", cursive;
}
.btn-container {
  text-align: center;
  margin-top: 5px;
}
.start-btn:hover {
  color: rgb(21, 23, 21);
  letter-spacing: 3px;
}

.CTA-btn {
  background-color: #fbfbfb;
  color: rgb(15, 15, 15);
  text-decoration: none;
  padding: 12px 20px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  border-radius: 8px;
  font-size: 1.05rem;
  display: inline-block;
  font-weight: bold;
  font-family: "DynaPuff", cursive;
}

.CTA-btn:hover {
  color: rgb(97, 202, 206);
  letter-spacing: 3px;
}
/*contact form*/
.contact-bottom h3,
p {
  padding: 5px;
}
.error-form {
  display: none;
  color: red;
  font-size: 12px;
  padding: 5px;
  letter-spacing: 2px;
}
.contact-container {
  max-width: 550px;
  align-items: center;
  margin: 0 auto;
  padding: 100px;
  border-radius: 20px;
  text-align: center;
  letter-spacing: 3px;
  background-image: url("/images/table-top-with-background.jpg");
  background-size: 100%;

  margin-top: 20px;
  margin-bottom: 20px;
}
#contactForm {
  display: grid;
  grid-row-gap: 15px;
  text-align: center;
  padding: 10px;
}
.contact-inputs {
  padding: 20px;
  width: 300px;
  border-radius: 5px;
}
.contact-subject {
  padding: 20px;
  width: 300px;
  height: 100px;
  border-radius: 5px;
}
#sucess {
  display: none;
  color: green;
}

/*mobile/tablets*/
@media (min-width: 1175px) {
  .menu-wrap {
    display: none;
  }
}

@media (max-width: 1175px) {
  .nav-links {
    display: none;
  }
  .banner-logo {
    position: absolute;
    left: 100px;
    top: 300px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    z-index: 4;
  }

  .logo {
    letter-spacing: 2px;
    font-size: 20px;
    padding: 15px;
  }

  p {
    max-width: 100%;
    font-size: 1.2rem;
  }

  img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  }
  /* burger menu */
  .menu-wrap {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    padding: 1rem;
    background: hsla(180, 4%, 5%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    border-color: rgb(240, 231, 231);
    border-style: solid;
    opacity: 0.9;
  }

  /*hamburgerline*/

  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  /* top and bottom lines*/
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  /* move lines down */

  .menu-wrap .hamburger > div:after {
    top: 10px;
  }

  /*toggler animate*/

  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  /* turn line into X*/

  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /*rotate hover checked*/

  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  /*Show menu*/

  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0, 4s ease;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu > div {
    background: #030303;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4 ease;
  }

  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    letter-spacing: 5px;
  }
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
}

@media (max-width: 1023px) {
  .index-body {
    background-image: none;
    background: linear-gradient(#685f5f, #000000, #070708);
  }
}

@media (max-width: 767px) {
  .menu-wrap {
    top: 20px;
    left: 20px;
  }
  .contact-inputs {
    padding: 20px;
    width: 250px;
  }
  .contact-subject {
    padding: 20px;
    width: 250px;
    height: 100px;
  }
  .banner-logo {
    font-size: 20px;
    position: relative;
    top: 80px;
    float: left;
  }
  .contact-container {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .search-container {
    padding: 10px;
  }
  .recipe-input {
    padding: 20px;
    width: 250px;
  }

  .recipe-results {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .inner-result {
    max-width: 300px;
    width: 300px;
    height: 250px;
  }
  .image {
    width: 300px;
    height: 250px;
  }
  .featured-result {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .recipe-banner {
    height: 150px;
  }
  .menu-wrap {
    top: 15%;
  }
}
